@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root {
    --font0: 'Passion One', cursive;
    --font1: 'Sriracha', cursive;
}

    *{
        margin: 0px;
    }


    header{
        background-color: black;
        color: white;
        text-align: center;
        padding: 20px;
    }

    header>h1{
        font-family: var(--font0);
        font-size: 50px;
    }

    header>h2{
        font-family: var(--font0);
        font-size: 14px;
    }

    header>h2>a{
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

    main{
        font-size: 20px;
        font-family: var(--font1);
    }
    .s1{
        background-color: white;
        padding: 50px;
        
    }

    .s2{
        background-image: url(imagens/background001.jpg);
        padding: 50px;
        background-attachment: fixed;
        background-position: center right;
        background-size: cover;
        color: white;
        box-shadow:inset 0px 5px 10px rgba(0, 0, 0, 0.425);
    }

    .s2>div{
        background-color: rgba(0, 0, 0, 0.479);
        max-width: 300px;
    }
    .s3{
        background-color: white;
        padding: 50px;
    }

    .s4{
        background-image: url(imagens/background002.jpg);
        padding: 50px;
        background-attachment: fixed;
        background-position: center right;
        background-size: cover;
        box-shadow:inset 0px 5px 10px rgba(0, 0, 0, 0.425);
    }

    .s4>div{
        background-color: rgba(0, 0, 0, 0.479);
        max-width: 300px;
        color: white;
    }
    .s5{
        background-color: white;
        padding: 50px;
    }

    footer{
        background-color: black;
        color: white;
        text-align: center;
        padding: 10px;
    }